/* colores */
/* TIPOGRAFIA */
/* BREAKPOINTS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #000;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header_main_container {
  width: 100%;
  height: 15vh;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid #6c757d;
  background-color: #000;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.header_main_container .menu_icon_container {
  display: none;
}
.header_main_container .main_nav_container .nav_container {
  display: flex;
}
.header_main_container .main_nav_container .nav_container .nav_item {
  padding: 0.8rem 0.4rem;
  border-radius: 4px;
}
.header_main_container .main_nav_container .nav_container .nav_item .nav_item_ancla {
  color: white;
  font-size: 1.92rem;
  line-height: 1.2rem;
  font-weight: 500;
}
.header_main_container .main_nav_container .nav_container .nav_item:hover .nav_item_ancla {
  color: #6c757d;
}
.header_main_container .main_logo_ancla {
  order: 2;
}
.header_main_container .main_logo_ancla .main_logo {
  width: 20rem;
}

@media screen and (max-width: 576px) {
  .header_main_container {
    height: 12vh;
    justify-content: space-between;
  }
  .header_main_container .menu_icon_container {
    display: flex;
    width: 4rem;
    height: 4rem;
    fill: white;
    cursor: pointer;
  }
  .header_main_container .main_logo_ancla .main_logo {
    width: 20rem;
  }
  .header_main_container .main_nav_container {
    display: none;
  }
  .header_main_container .main_nav_container .nav_container {
    display: inl;
    display: flex;
    flex-direction: column;
    background-color: #000;
    position: fixed;
    top: 12vh;
    width: 100%;
    left: 0;
  }
  .header_main_container .main_nav_container .nav_container .nav_item {
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 4px;
  }
  .header_main_container .main_nav_container .nav_container .nav_item .nav_item_ancla {
    color: #6c757d;
    font-size: 1.68rem;
    line-height: 1.2rem;
    font-weight: bold;
  }
  .header_main_container .main_nav_container .nav_container .nav_item:hover {
    border: 1px solid #6c757d;
  }
  .header_main_container .main_nav_container .nav_container .nav_item:hover .nav_item_ancla {
    color: white;
  }
}
.toggle_menu .main_nav_container {
  display: inline-block;
}

.carousel {
  width: 100%;
  height: 85vh;
}
.carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
.carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.carousel .carousel-inner .carousel-item .img--marketing {
  object-fit: contain;
}

.conocenos_main_container {
  margin-top: 4rem;
  height: auto;
}
.conocenos_main_container .section-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.conocenos_main_container .mision_historia_container .mision_historia_fila .section-content {
  margin-bottom: 40px;
  text-align: center;
}
.conocenos_main_container .mision_historia_container .mision_historia_fila .section-content h2 {
  font-size: 2.4rem;
  color: white;
}
.conocenos_main_container .mision_historia_container .mision_historia_fila .section-content p,
.conocenos_main_container .mision_historia_container .mision_historia_fila .section-content ul,
.conocenos_main_container .mision_historia_container .mision_historia_fila .section-content li {
  font-size: 1.68rem;
  color: #6c757d;
}
.conocenos_main_container .nuestros_valores_container {
  padding: 8rem 0;
  width: 100%;
  background-color: #f7fce9;
}
.conocenos_main_container .nuestros_valores_container .nuestros_valores_title {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.conocenos_main_container .nuestros_valores_container .valores_items_container {
  margin-top: 3rem;
}
.conocenos_main_container .nuestros_valores_container .valores_items_container .valores_items_fila .valores_item_container .item_img {
  width: 15rem;
}
.conocenos_main_container .nuestros_valores_container .valores_items_container .valores_items_fila .valores_item_container .item_title {
  margin: 2rem 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.2rem;
}
.conocenos_main_container .nuestros_valores_container .valores_items_container .valores_items_fila .valores_item_container .item_description {
  text-align: center;
  font-size: 1.68rem;
}

@media screen and (max-width: 576px) {
  .conocenos_main_container .section-title {
    font-size: 2.56rem;
  }
  .conocenos_main_container .nuestros_valores_container .nuestros_valores_title {
    font-size: 2.56rem;
  }
  .conocenos_main_container .nuestros_valores_container .valores_items_container .valores_items_fila .valores_item_container .item_img {
    width: 10rem;
  }
  .conocenos_main_container .nuestros_valores_container .valores_items_container .valores_items_fila .valores_item_container .item_title {
    font-size: 2.4rem;
  }
  .conocenos_main_container .nuestros_valores_container .valores_items_container .valores_items_fila .valores_item_container .item_description {
    font-size: 1.68rem;
  }
}
.servicios_main_container {
  width: 100%;
  margin-top: 4rem;
}
.servicios_main_container .section_title {
  color: white;
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
}
.servicios_main_container .servicios_list_container .servicios_list_fila .servicio_item_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.servicios_main_container .servicios_list_container .servicios_list_fila .servicio_item_container .servicio_title {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.servicios_main_container .servicios_list_container .servicios_list_fila .servicio_item_container .servicio_paragraph {
  max-height: 100px;
  text-align: justify;
  font-size: 1.68rem;
  line-height: 2rem;
}
.servicios_main_container .servicios_list_container .servicios_list_fila .servicio_item_container .servicio_carousel {
  width: 100%;
  height: 50vh;
}

.whatsApp_icon_container {
  position: fixed;
  right: 0;
  z-index: 4;
  bottom: 0;
}
.whatsApp_icon_container img {
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=main.css.map */
