.conocenos_main_container {
    margin-top: 4rem;
    height: auto;

    .section-title {
        font-size: $font-size-title;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
        color: $color_white;
    }

    .mision_historia_container {
        .mision_historia_fila {


            .section-content {
                margin-bottom: 40px;
                text-align: center;

                h2 {
                    font-size: $font-size-subtitle;
                    color: $color_white;
                }

                p,
                ul,
                li {
                    font-size: $font-size-paragraph*1.4;
                    color: $color_gray_50;
                }
            }



        }




    }

    .nuestros_valores_container {
        padding: 8rem 0;
        width: 100%;

        background-color: $color_green_50;

        .nuestros_valores_title {
            font-size: $font-size-title;
            text-transform: uppercase;
            font-weight: bold;
        }

        .valores_items_container {
            margin-top: 3rem;

            .valores_items_fila {
                .valores_item_container {
                    .item_img {
                        width: 15rem;
                    }

                    .item_title {
                        margin: 2rem 0;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: $font-size-subtitle;
                        line-height: 1.2rem;
                    }

                    .item_description {

                        text-align: center;
                        font-size: $font-size-paragraph*1.4;
                    }
                }


            }


        }


    }

}


@media screen and (max-width: $small) {

    .conocenos_main_container {

        .section-title {
            font-size: $font-size-title*0.8;
        }




        .nuestros_valores_container {


            .nuestros_valores_title {
                font-size: $font-size-title*0.8;
            }

            .valores_items_container {

                .valores_items_fila {
                    .valores_item_container {
                        .item_img {
                            width: 10rem;
                        }

                        .item_title {

                            font-size: $font-size-subtitle;

                        }

                        .item_description {
                            font-size: $font-size-paragraph*1.4;
                        }
                    }


                }


            }


        }

    }
}