/* colores */

$color_gray_50: #6c757d;
$color_gray_100: #212529;

$primary-color: #333;
$secondary-color: #444;
$link-color: #007BFF;
$background-color: #f9f9f9;


$color_green_50: #f7fce9;
$color_green_100: #ebf7d0;
$color_green_200: #d8f0a6;
$color_green_300: #bde472;
$color_green_400: #9ad134;
$color_green_500: #84bb27;
$color_green_600: #66951b;
$color_green_700: #4f7219;
$color_green_800: #405a1a;
$color_green_900: #374d1a;
$color_green_950: #1b2a09;
$color_black: #000;
$color_white: white;

/* TIPOGRAFIA */

$font-size-title: 3.8rem;
$font-size-subtitle: 2.6rem;
$font-size-paragraph: 1.2rem;
$font-size-note: 0.8rem;

$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 992px;


$font-family: Arial, sans-serif;

